body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2b2b2b;  /* fallback for old browsers */
    min-height: 100vh;
    min-width: 400px;
    overflow: hidden;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
